<div id="<%= dom_id expense %>">
  <p>
    <strong>From account:</strong>
    <%= expense.from_account %>
  </p>

  <p>
    <strong>From account name:</strong>
    <%= expense.from_account_name %>
  </p>

  <p>
    <strong>To account:</strong>
    <%= expense.to_account %>
  </p>

  <p>
    <strong>To account name:</strong>
    <%= expense.to_account_name %>
  </p>

  <p>
    <strong>Execution date:</strong>
    <%= expense.execution_date %>
  </p>

  <p>
    <strong>Expense date:</strong>
    <%= expense.expense_date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= expense.currency %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= expense.transaction_type %>
  </p>

  <p>
    <strong>Communication:</strong>
    <%= expense.communication %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= expense.details %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= expense.status %>
  </p>

  <p>
    <strong>Reason refused:</strong>
    <%= expense.reason_refused %>
  </p>

</div>
